{% extends 'base.html' %}
{% block content %}



<div class="container-fluid col-md-8 offset-md-2 my-5 rounded border border-secondary">
  <table class="table">
    <thead>
      <tr>
        <th>Clearance number رقم الطلب</th>
        <th>Status حالة الطلب</th>
        <th>departmentالقسم</th>
        <th>Notes الملاحظات</th>
      </tr>
    </thead>
    <tbody>
      {% if item1.FinalStat == "rejection" %} {% for item2 in DATAE|slice:":1"%}
      <tr>
        <td >{{item2.IdOrder}}</td>
        <td>
          <i class="fa-solid fa-circle-xmark text-danger"></i><b> {{item2.Option_dep}}</b>
        </td>

        <td>{{item2.Path}}</td>
        <td>{{item2.Notes}}</td>
      </tr>
      {% endfor %}
      {% else %}
      {% for item2 in DATAE %}
      <tr>
        <td >{{item2.IdOrder}}</td>
        {% if item2.Option_dep == 'pending' %}
        <td>
          <i class="fa-solid fa-circle-minus text-yello"></i><b> {{item2.Option_dep}}</b>
        </td>
        {% elif item2.Option_dep == 'approved'%}
        <td>
          <i class="fa-solid fa-circle-check text-success"></i>
          <b> {{item2.Option_dep}}</b>
        </td>
        {% else %}
        <td>
          <i class="fa-solid fa-circle-xmark text-danger"></i><b> {{item2.Option_dep}}</b>
        </td>
        {% endif %}
        <td>{{item2.Path}}</td>
        <td>{{item2.Notes}}</td>
      </tr>

      {% endfor %}
       {% endif %}
    </tbody>
  </table>
</div>

{%endblock%}