{% extends 'base.html' %}

{% block content %}

<hr> 
        <form class="p-5 m-5"  method="POST">
          {% csrf_token %}
            <div class="form-group " >
              
              <label for="exampleInputEmail1">Employee Number</label>
              <input name ="num" type="number" class="form-control" id="Employee" aria-describedby="Employee" placeholder="Enter Employee number">
              <small class="form-text text-muted">We'll never share your Employee No. with anyone else.</small>
         
              <div class="clearfix">
                <button type="submit" class="btn btn-primary"  >check</button>
              </div>
            </div>
          </form>



{% endblock %}