{% extends 'base.html' %}

{% block content %}


<body>

  
    <h1>Sign in </h1>
    {% for msg in messages %}
      {{msg}}
    {% endfor %}
      <form class="modal-content" method="post">
        <div class="container">
          {% csrf_token %}
          
          <p>Please fill in this form to Login to the department account.
            <br> الرجاء تعبئة النموذج لإنشاء حساب للقسم
          </p>
          <hr>
          {{ form }}
    
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
          <div class="clearfix">
            <button type="reset" class="cancelbtn">Cancel إلغاء</button>
            <button type="submit" class="signupbtn">Sign Up تسجيل </button>
          </div>
        </div>
      </form>
    
    
  
    
    </body>


{% endblock %}