{% extends 'base.html' %}

{% block content %}

<body>

  
    <h1>Login</h1>
    {% for msg in messages %}
      {{msg}}
    {% endfor %}
      <form class="modal-content" method="post">
        <div class="container">
          {% csrf_token %}
          {{form}}
          
          <div class="clearfix">
            <button type="reset" class="cancelbtn">Cancel إلغاء</button>
            <button type="submit" class="signupbtn" href="{% url 'dept_log' %}">Login   تسجيل الدخول</button>
          </div>
        </div>
      </form>
    
    
  
    
    </body>

{% endblock %}